*{
    margin: 0px;
    padding: 0px;
}
@font-face{
    src:url(../Lobster/Lobster-Regular.ttf);
    font-family: Lobster;
}
@font-face{
    src: url(../Pacifico/Pacifico-Regular.ttf);
    font-family: pac;
}
.logo{
    width: 100px;
    height: 70px;
    margin-left: 40px;
}
.brand_name{
    margin-top: -55px;
    margin-left: 90px;
    font-weight: bold;
    font-family: Lobster;
    font-size: 20px;
}
.nav_brand{
    display:inline-block
}
.navbar ul{
    float: right;

}
.navbar ul li{
    display:inline-block;
    margin-right: 40px;
    margin-top: 30px;
    text-transform: uppercase;

}
.navbar ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.navbar ul li a:hover{
    color: #2f91bc;
    letter-spacing: 4px;
    transition-duration: .5s;

}
.navbar{
    height: 80px;
}
.clear{
    clear: both;
}
/* background */
.img{
    width: 100%;
    height: 550px;
    
} 
.background_text{
    position: absolute;
    top: 250px;
    left: 100px;
    

}
.perfect{
    font-family: Lobster;
    font-weight: unset;
    margin-bottom: 30px;
}
.shop{
    padding: 10px 20px;
    color: #2f91bc;
    border: 1px solid #2f91bc;
    border-radius: 5px;
    margin-top: 20px;
}
.shop:hover{
    color: white;
    background-color: #2f91bc;
}

/* product */
.header{
    text-align: center;
    padding-top: 50px;

}
.divided{
    max-width: 100px;
    margin: auto;
    border: 1px solid #2f91bc;
}
.product{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 50px;
    grid-gap: 40px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}
.product_img{
    border-radius: 5px;
    box-shadow: 0px 10px 20px rgb(0, 0, 0,.15);
}
.red{
    color: red;
}
/* About */
.about{
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    margin-top: 80px;
    background-image: url(../images/img8.jpg);
    color: white;
    
}
.about div{
    padding: 60px 0px;
}
.divide{
    max-width: 40px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* packaging */
.packaging{
    margin-top: 80px;
    margin-left: 100px;
}
.packaging_img{
    border-radius: 5px;
    float: left;
}
.packaging_text{
    position: relative;
    left: 50px;
    width: 88%;
    text-align: justify;
}
.packaging_header{

    margin-top: 30px;
}

.icon{
    padding-right: 5px;
}

/* support */
.support_icon p{
    display: inline-block;
    margin-left: 20px;
}
.support{
    margin-top: 80px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #e2e7e9;
    padding: 30px 0px 30px 100px;
}
/* start footer */
.footer{
    height: 230px;
    background-color: #212529;
}
.footnav{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 50px 20px 0px;
}
.designed{
    color: white;
    margin-top: 20px;
}
.socialicon{
    color: white;
    display: inline-block;
    margin: 20px 10px 0px;
}

/* shopping */
.body{
    background-color: rgb(236, 236, 236);
}
.f31{
    width: 100%;
    height: 450px;
}
.f_shop{
    position: absolute;
    top: 250px;
    left: 500px;
}
.f_nav{
    text-align: center;
    font-family: pac;
    font-weight: unset;
}
.nav{
    text-align: center;
    padding-top: 10px;
}
.h_line{
    max-width: 100%;
    margin: auto;
}

.bestseller{
    font-family: pac;
    font-weight: unset;
}
.best{
    margin: 20px -90px 0px ;
    position: relative;
    right: 45px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto ;
    padding-left: 145px;
    text-align: center;
}
.bestseller_div{
    border: 1px solid white;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 60px;
    background-color: rgb(245, 243, 243);
    border-radius: 5px;
    box-shadow: 30px 30px 30px rgb(0, 0, 0 , .15);
}
.best_nav{
    border: 1px solid white;
    margin: 0px 30px 30px;
    background-color: white;
    box-shadow: 2px 2px 8px rgb(0, 0, 0,.1)
    
    
}
.best_nav:hover{
    box-shadow:8px 8px 8px rgb(0, 0, 0,.15);
}
.f{
    border: 1px solid white;
}
.best_img{
    margin-left: 100px;
}

/* about Page */
.f53{
    width: 100%;
    height: 450px;
}
.aboutus{
    position: absolute;
    top: 180px;
    left: 850px;
    font-family: pac;
}
.about_page  div img{
    width: 40%;
    float: right;
    margin-left: 50px;
}
.about_nav{
    margin-top: 40px;
    margin-left: 50px;
    font-family: pac;
}
.about_page{
    
    margin-top: 20px;
}
.lorem{
    text-align: justify;
    margin: 0px 50px ;
}

/* contact */
.iframe{
    width: 100%;
}
.contact{
    margin: 50px 70px 0px;
    
}
.contactus{
    text-align: center;
    margin-top: 50px;
}
.cont_p{
    margin-left: 50px;
}
.location_p{
    margin-top: 10px;
}
.myan{
    margin-left: 160px;
    margin-top: 10px;
}
.cont_phone{
    margin: 10px 0px 0px 130px;
}
.cont_email{
    margin: 10px 0px 0px 90px;
}
.contact_form{
    margin-top: -155px;
    margin-left: 650px;
    /* margin-right: 250px; */

}

input[type="text"]{
    width: 90%;
    height: 25px;
    outline: none;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.15);
}
.name{
    display: grid;
    grid-template-columns: auto auto;
}
input[type="text"]:focus{
    border: 1px solid rgb(110, 202, 202);
    box-shadow: 4px 4px 4px rgba(38, 175, 190, 0.15)
}
#address{
    width: 95%;
    height: 110px;
    outline: none;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.15);
}
#address:focus{
    border: 1px solid rgb(110, 202, 202);
    box-shadow: 4px 4px 4px rgba(38, 175, 190, 0.15)
}

