h1{
    color: blue;
    text-align: center;
    text-transform: uppercase;
}
small{
    color: rgb(26, 43, 138);
    line-height: 50px;
    word-spacing: 30px;
    letter-spacing: 10px;
}
/* universal selector */
*{
    margin: 0px;
    padding:0px;

}
/* Tag selector / Element selector */
h4{
    color:red;
    line-height: 40px;
    text-align: justify;
}
/* Attribute selector*/
a[title="google"]{
    color: black;
    text-decoration: none;
}
/* Id Selector */
#idselector{
    color: red;
}
/* Class Selector */
.one{
    color:green;
    word-spacing: 30px;
    letter-spacing: 10px;


}
.desc a{
    color: rgb(24, 216, 40);
}
.child > a{
    color: rgb(230, 75, 4);
}
a:link{
    color: red;
}
a:hover{
    color: green;
}
a:active{
    color:yellow;
}
a:visited{
    color:brown;
}
/* target */
:target{
    color: red;
    font-size: 30px;
    line-height: 50px;
}
form{
    width: 80%;
    /* background-color: red; */
    margin:auto;
}
input[type="text"],input[type="number"],input[type="email"]{
    width:100%;
    height: 40px;
    outline: none;
}
input[type="text"]:focus,input[type="number"]:focus,input[type="email"]:focus{
    border: 3px solid #555;
}

#dob{
    width: 100%;
}
#dob select{
    width: 30%;
    height: 40px;
}

input[type="radio"]:checked + label{
    color: red;
    letter-spacing: 10px;
}
#address{
    width: 100%;
    height: 100px;
    outline: none;
    border-radius: 5px;
}

input[type="checkbox"]:enabled +label{
    color: yellow;
    font-style: italic;
}

input[type="checkbox"]:checked +label{
    color: red;
    font-style: normal;
}

input[type="checkbox"]:disabled +label{
    color: #fff;
}
ul li{
    margin-left: 50px;
    width: 80%;
    line-height: 40px;
}
li:first-child{
    background-color: yellow;
}
li:last-child{
    background-color: red;
}
li:nth-child(3){
    background-color: green;
}
p:empty{
    width: 100%;
    height: 20px;
    background-color: #607D8B;
}
.thanku{
    text-align: center;
}
.borderone{
    border: 2px dotted green;
}
.bordertwo{
    border-left: 5px solid yellow;
}
.borderstyle{
    border-style: solid;
}
.bordermix{
    border-style: solid dotted dashed double;
    /* T / R / B / L */
    /* border-style: solid double dashed; */
    /* T / L&R / B */
    /* border-style: double solid; */
    /* T&B / L&R */
    /* border-style: solid; */
}

.borderwidth{
    border-width: 10px;
    border-style: dotted;
}

/* Margin */
.marginone{
    border: 1px solid black;
    margin:15px;
    /* All Four */
}
.margintwo{
    border: 1px solid red;
    margin-top: 10px;
}
.padding{

    border: 1px solid black;
    padding: 60px;
    /* all four */
    /* padding: 30px 50px; */
    /* T/B  L/R */
    /* padding: 40px 30px 70px; */
    /* T / L&R /B */
    /* padding: 20px 30px 40px 50px; */
    /* T / R /B /L */
    /* padding-left: 60px; */

}

/* Layout */
/* inline */
.inline{
    border: 1px solid red;
    width: 400px;
    display: inline-block;
}
.block{
    border: 1px solid green;
    width:400px;
    height: 50px;
    display: inline-block;
}
div.floatleft img{
    width: 40%;
    float: left;
    text-align: justify;
}
.clear{
    clear: both;
}
div.floatright img{
    width: 40%;
    float: right;
}

/* grid */
.gridOne div,.gridTwo div,.gridThree div,.gridFour div,.gridFive div,.gridSix div{
    padding:20px;
    text-align: center;
    color: white;
}
.gridOne,.gridTwo,.gridThree,.gridFour,.gridFive,.gridSix{
    display: grid;
    grid-template-columns: auto auto auto;
}
.gridTwo{
    grid-column-gap: 50px;
}
.gridThree{
    grid-row-gap: 30px;
}
.gridFour{
    grid-gap: 40px;
}
.gridFive .columnadd{
    grid-column-start: 1;
    grid-column-end: 3;
}
.gridSix .rowadd{
    grid-row-start: 1;
    grid-row-end: 4;
}

/* position */
.relative_parent{
    border: 1px solid black;
    width: 1000px;
    height: 700px;
}
.relative{
    border: 1px solid red;
    width: 500px;
    position: relative;
    top: 70px;
    left: 100px;
}
.absolute_parent{
    position: relative;
    border: 1px solid yellow;
    width: 1200px;
    height: 500px;
}
.absolute{
    border: 2px solid green;
    width: 600px;
    position: absolute;
    top: 50px;
    left: 150px;
}
.fixed{
    position:fixed;
    top: 100px;
    left: 1000px;
}
/* Font */

.onlinefont{
    font-family: 'Satisfy', cursive;
}

/* offline font */
@font-face{
    src:url(Pacifico/Pacifico-Regular.ttf);
    font-family: Pacifico;
}
.offlinefont{
    font-family: Pacifico;
}